[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
django-environ = "==0.8.1"
django-split-settings = "==1.1.0"
django-prometheus = "*"
django-health-check = "*"
psycopg2 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
